body{
    margin: 0;
    padding: 0;
}
.hero-banner{
    position: relative;
    width:100%;
    height: 30vh;
    display: flex;
    background-color: aqua;
    padding: 20vh 0px;
    text-align: center;
}
.hero-banner form{
display: flex;
    flex-basis: 500px;
    align-items: center;
    margin: 0 auto;
}
.hero-banner .input-container{
   flex: 2;
    order: 1;
}
.input-container input{
    width: 100%;
    height: 30px;
}
.button-container button{
    width: 100%;
    height: 30px;
}
.hero-banner .button-container{
    flex: 1;
    order: 2;
}
.image-container{
    width: 95%;
    margin: 0 auto;
    background-color: #e0e0e0;
    display: flex;
    flex-wrap: wrap;
}
.image{
    flex-basis: 300px;
    flex-grow: 1;
    min-height: 200px;
    position: relative;
    margin: 2px;
}
.image img{
    width: 100%;
    height: auto;
}
.author{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}
.download-button{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80px;
    height: 20px;
    background-color: #fff;
    z-index: 2;
}
.likes{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
        width: 80px;
    height: 20px;
    z-index: 2;
    
}